<h1>Heroes</h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-12 text-center">

        <button type="button" class="btn btn-outline-primary" [routerLink]="['/heroe','nuevo']">
           Nuevo heroe
    </button>

    </div>
</div>
<br><br>



<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Casa</th>
                        <th class="text-right text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | keys;let i = index; let heroe of heroes">
                        <td>{{i + 1}}</td>
                        <!-- <td>{{heroes[heroe].nombre}}</td>
            <td>{{heroes[heroe].casa}}</td>  -->
                        <td>{{heroes[k].nombre}}</td>
                        <td>{{heroes[k].casa}}</td>
                        <td class="text-right text-center">
                            <button type="button" class="btn btn-outline-success" [routerLink]="['/heroe',k]">
              Editar
              </button>
                            <button type="button" class="btn btn-outline-danger" (click)="borrarHeroe(k)">
                Borrar
              </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info" role="alert">
                <strong>No hay</strong> registros que mostrar
            </div>

            <div *ngIf="loading" class="alert alert-warning" role="alert">
                <strong>Cargando</strong> espere
            </div>

        </div>
    </div>
</div>