<div class="container main-container">
    
  <div align="center">
    <button *ngIf="!_logeoService.usuario.nombre" type="button" class="btn btn-outline-primary" (click)="login()">Ingresar</button>
    <button *ngIf="_logeoService.usuario.nombre" type="button" class="btn btn-outline-danger" (click)="logout()">Cerrar Sesion</button>
  </div>
  
</div>
<div class="container main-container" *ngIf="_logeoService.usuario.nombre">

    <input class="form-control" type="text" [(ngModel)]="dato" name="dato" placeholder="Dato a guardar"
        (keyup.enter)="publicarDato()">
    <div align="right">
            <button  type="button" class="btn btn-outline-warning" [routerLink]="['/datos']" >Ver Datos Guardados</button>
            <button  type="button" class="btn btn-outline-success" (click)="publicarDato()">Publicar datos</button>
    </div>

    <div class="row main-container">
        <div class="col-md-6" >

            <p align="center">Logeado con nombre {{_logeoService.usuario.nombre}} </p>


        </div>

        <div class="col-md-6">

            <p align="center">Logeado con UID {{_logeoService.usuario.uid}} </p>


        </div>
    </div>
    <div align="center" style="margin-bottom: 10px" >
        <h6 style="margin-bottom: 10px">Cargar archivos</h6>
        <input type="file" (change)="verDatos($event)" placeholder="Upload file" multiple 
               accept=".pdf,.doc,.docx,.wav,.mp3,.jpg,.png">
    </div>
    <h5 align="center" >Audios</h5>
     <audio controls>
        <source [src]="'https://firebasestorage.googleapis.com/v0/b/heroesapp-cb895.appspot.com/o/sound%2F1%20DO.wav?alt=media&token=46a28495-bbd3-49ae-9e34-5faf5fbdc7d4'">
            Tu navegador es muy viejo
    </audio>
</div>